/* Start main rules*/
.container{
    width: 70em;
    margin: auto;
}
/*End main rules */
/*Start header */
.head .container .bar{
    color: blue;
    overflow: hidden;
    height: 2em;
    overflow: hidden;
}
.head .container .bar ul{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
    margin: 0.3em 0 0.25em 0;
}
.head .container .bar ul li{
    float:left;
    padding: 0 0 0 0.5em;
}
.head .container .bar ul li a{
    color: lightslategrey;
    text-decoration: none;
}
.head .container .bar ul li a:hover{
    color: blue;
}
.head .container .bar ul li input{
    width: 6em;
    margin-bottom: 0.3em;
}
.head .container .bar ul li button{
    color: lightcoral;
    border: lightslategray solid 0.1em;
}
.head .container .navbar{
    background-color: cadetblue ;
    height: 5em;
}
.head .container .navbar img{
    width: 6em;
    display: inline;
    margin-left: 1.5em;
    margin:0.5em;
    float: left;
}
.head .container .navbar div{
    font-size: 1.7em;
    color: whitesmoke;
    display: inline-block;
    float: left;
    margin-top: 1em;
}
.head .container .navbar ul{
    list-style: none;
    padding-left: 5em;
    float: left;
    overflow: hidden;
    
}
.head .container .navbar ul li{
    float: left;
    padding: 0.1em;
    padding-left: 2.5em;
    margin-top: 0.9em;
    font-size: 1.1em;
}
.head .container .navbar ul .ad a{
    color:lightpink;    
}
.head .container .navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
}
.head .container .navbar ul li a:hover{
    color: blue;
}
.head .container .admission{
    margin-top: 0em;
    width: 70em;
}
/*End header */
/* Start admission */
.admission .container .undergrad{
    margin: 1em 1em 1em 0;
}
.admission .container .undergrad div, .postgrad div, .summer div, .online div{
    text-decoration: none;
    color: cadetblue;
    font-size: 1.5em;
}

.admission .container .undergrad p, .postgrad p, .summer p, .online p{
    color: lightcoral;
    width: 40em;
}
.admission .container .undergrad li, .postgrad li, .summer li, .online li{
    list-style: square;
    color: grey;
}
.admission .container .undergrad li a,  .postgrad li a, .summer li a, .online li a{
    color: gray;
    font-size: 1em;
    text-decoration: none;

}
.admission .container .undergrad li a:hover, .postgrad li a:hover, .summer li a:hover, .online li a:hover{
    color: blue;
    font-size: 1em;
}


/* End admission */
/* Start footer */
.footer .container{
    background-color: cadetblue;
    margin: auto;
    height: 13em;
    width: 70em;
}
.footer .container div{
    width: 33.33%; 
    float: left;
}

.footer .container .logo img{
    width: 6em; 
    padding: 1em 0 1em 7.8em;
   /* margin: 1em 1em 1em 8em; */
}
.footer .container .logo .name{
    padding:0 0 1em 7.85em; 
    color: whitesmoke;
    width: 10em;
}
.footer .container .logo .copy{
    padding:0 0 0 6em;
    color:lightblue;
    width: 10em;    
}
.footer .container .study p, .about p{
    text-align: center;
    color:white;
    font-size: 1.25em;
}
.footer .container .study a, .about a{
    display: block;
    text-align: center;
    padding-bottom: 1em;
    color:lightgray;
    text-decoration: none;
}

.footer .container .study a:hover, .about a:hover{
    display: block;
    text-align: center;
    padding-bottom: 1em;
    color:lightgray;
    text-decoration: underline;
    color: blue;
}



/* End footer */
/* Start connect */
 .connect .container .last {
    padding-left: 28.5em;
}
.connect .container .last a{
    float: left;
    margin:0.5em;
}
/*End connect */